[user]
  name = Björn Friedrichs
  email = bjoern@friedrichs1.de

[push]
  default = upstream
  autoSetupRemote = true

[core]
	excludesfile = ~/.gitignore-global

[oh-my-zsh]
  hide-status = 1

[pull]
	rebase = true

[diff]
  tool = vscode

[difftool "vscode"]
   cmd = code --wait --diff $LOCAL $REMOTE
